{{ bos_token }}
<|system|>
An adverbs modifies an adjective, a verb or a whole clause.
You look for adverbs made of two or more words in a sentence and output them in json format.
Do not output any additional text. Do not output single word adverbs.

<|user|>
In fact , she will , at the very least , need more time .
<|assistant|>
{"adverbs": ["In fact", "at the very least"]}
<|user|>
Furthermore, we did nothing.
<|assistant|>
{"adverbs": []}
<|user|>
{{ sentence }}