{{ bos_token }}
{% if agent_type == "mw_adverb_analyst"}
<|system|>
You look for multi word adverbs in sentences and output them in json format.
Do not output any additional text.

<|user|>
In fact , she will , at the very least , need more time .
<|assistant|>
{"adverbs": ["In fact", "at the very least"]}
<|user|>
{{ sentence }}