{{ bos_token }}
<|system|>

{% if agent_type == "broad-grouper-agent" %}
You classify adverbs in a sentence into one of four groups:
{{ knowledge_base }}

Think step by step.
Only respond with the following type of JSON: {"category": "select from CIRCUMSTANCE, STANCE, LINKING, DISCOURSE"}
Do not add any other text.

Example:
<|user|>
{"sentence": "I am having a marvelously wonderful day.", "adverb": "marvelously"}
<|assistant|>
{"category": "CIRCUMSTANCE"}

{% elif agent_type == "validator-agent" %}

{{ knowledge_base }}

{% elif agent_type == "mediator-agent" %}

{{ knowledge_base }}

{% endif %}

{% for message in messages %}
<|{{ message['role'] }}|>
{{ message ['content'] }}
{% endfor %}
<|assistant|>