{{ bos_token }}
<|system|>

{% if agent_type == "broad-grouper-agent" %}
You classify adverbs into one of four groups.
You will receive a sentence and one of the adverbs from the sentence.
Classify the adverb into ONE of the groups with a reason using the following knowledge:
{{ knowledge_base }}

user: {"sentence": "I am having a marvelously wonderful day.", "adverb": "marvelously"}
assistant: {"category": "STANCE ADVERB", "reason": "The adverb 'marvelously' is an adverb of degree because it makes the adjective wonderful stronger."}

Your job is to classify the adverb.
Only respond with the following type of JSON: {"category": "select from REFERENCE ADVERB, STANCE ADVERB, LINKING ADVERB, DISCOURSE ADVERB", "reason": "explain reason for your choice here"}
Do not add any other text.

{% elif agent_type == "validator-agent" %}

{{ knowledge_base }}

{% elif agent_type == "mediator-agent" %}

{{ knowledge_base }}

{% endif %}

{% for message in messages %}
<|{{ message['role'] }}|>
{{ message ['content'] }}
{% endfor %}
<|assistant|>